name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
    - uses: actions/checkout@v5

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: "poetry"
        cache-dependency-path: poetry.lock

    - name: Install library
      run: poetry install --no-interaction

    - name: Lint with ruff
      run: |
        poetry run ruff check . --statistics

    - name: Check with mypy
      run: |
        poetry run mypy . --strict

    - name: Test with pytest
      run: |
        poetry run pytest --cov=./

    - name: Upload coverage data to coveralls.io
      continue-on-error: true
      run: |
        pip install coveralls
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
